<section class="post">
    <ol class="breadcrumb">
        <li><a href="#/">Blog</a></li>
        <li><a href="#/admin">Administration</a></li>
        <li class="active">Create Article</li>
    </ol>

    <form name="EditPostForm">
        <div class="form-group">
            <label for="inputTitle">Title</label>
            <input type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model="post.title">
        </div>
        <div class="form-group">
            <label for="textareaContent">Content</label>
            <textarea class="form-control" rows="19" id="textareaContent" ng-model="post.content"></textarea>
        </div>
        <div class="form-group">
            <label for="inputTags">Tags</label>
            <input type="text" class="form-control" id="inputTags" placeholder="Tags #1, Tags #2, ..." ng-model="post.tags">
        </div>
        <button type="submit" class="btn btn-success" ng-click="save(post, false)">Save</button>
    </form>

</section>
